{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>
    <div class="navbar">
        <nav class="main_nav">
        <div class="nav-wrapper">
          <img id="navLogo" src="\static\img\musixim logo2.png" alt="">
          <a href="#!" class="brand-logo">Musixim</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="navElements" id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'albums' %}">Album</a></li>
            <li><a href="{% url 'songs' %}">Songs</a></li>
            
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'albums' %}">Album</a></li>
            <li><a href="{% url 'songs' %}">Songs</a></li>
          </ul>
        </div>
      </nav>
      </div>
    <div class="container">
    <div class="row">
        <h3>Search Results found: {{ total }}</h3>
        <hr>
    </div>
    
    
    <div class="row">
    {% if total != 0 %}
        {% if albums %}
            <h5>Albums</h5>
            {% for album in albums %}
                <div>
                  <div class="col s12 l3 m4">
                    <div class="card">
                      <div class="card-image">
                        <img src="{{ album.img.url}}">
                      </div>
                      <div class="card-content">
                        <p>Movie: <span>{{ album.name }}</span>
                          <br>Composer:<span> xxx</span> <br>No. of songs : <span> {{ album.song_set.count }}</span> <br>Year: <span>{{ album.released_on|date:"Y" }}</span></p>
                      </div>
                      <div class="card-action">
                        <a href="{% url 'album_list' album.id %}">Know more about it</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if songs %}
            <h5>Songs</h5>
            {% for song in songs %}
            <div class="col s12 l4 m4">
              <div class="card">
                <div class="card-image">
                  <img src="{{ song.album.img.url }}">
                </div>
                <div class="card-content">
                  <p>Song Name: <span>{{ song.name }}</span> <br>Movie: <span>{{ song.album.name }} </span>
                    <br>Lyricist:<span> {{ song.written_by.name }}</span></p>
                </div>
                <div class="card-action">
                  <a href="{% url 'song-detail' song.id %}">Know more about it</a>
                </div>
              </div>
            </div>
              {% endfor %}
        {% endif %}
    {% endif %}
    </div>
  </div>
  <!-- Footer -->
<div class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About us</h5>
        <p class="grey-text text-lighten-4">This is a site which gives the meaning of a song line by line</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Developer</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/suresh1999">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="https://facebook.com/sureshkumar1999">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Developed by Suresh Kumar 
    <a class="grey-text text-lighten-4 right" href="#!">Powered by Django</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'materialize\js\materialize.js' %}"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script type="text/javascript" src="{% static 'js/master.js' %}"></script>
</body>
</html>
